.page-footer {
  .footer-center {
    text-align: center;
  }

  .footer-right {
    text-align: right;
  }

  .footer-content {
    padding: 1em;

    a {
      color: $color-white;
    }
  }

  .footer-copyright {
    padding: 0 1em;
    background-color: $color-white;
    color: $color-black;
    height: 40px;
    margin-bottom: 0;
    font-size: 0.9em;
  }

  @media #{$small-and-down} {
    .footer-left, .footer-center, .footer-right {
      text-align: center;
    }
  }
}
