/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

/** Media alignment */
// .alignnone {
//   margin-left: 0;
//   margin-right: 0;
//   max-width: 100%;
//   height: auto;
// }
//
// .aligncenter {
//   display: block;
//   margin: ($spacer / 2) auto;
//   height: auto;
// }
//
// .alignleft,
// .alignright {
//   margin-bottom: ($spacer / 2);
//   height: auto;
// }
//
// @media (min-width: 30rem) {
//   .alignleft {
//     float: left;
//     margin-right: ($spacer / 2);
//   }
//
//   .alignright {
//     float: right;
//     margin-left: ($spacer / 2);
//   }
// }

.entry-content-asset {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/** Captions */

// TODO: .wp-caption {}
// TODO: .wp-caption img {}
// TODO: .wp-caption-text {}
