html {
  font-size: 18px;

  &[data-text-size="medium"] {
    font-size: 20px;
  }

  &[data-text-size="large"] {
    font-size: 24px;
  }

  @media #{$small-and-down} {
    font-size: 16px;
  }
}

body {
  &[data-font="1"] {
    font-family: $font-source-sans-pro, sans-serif;

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
      font-family: $font-bitter, serif;
    }
  }

  &[data-font="2"] {
    font-family: $font-arimo, sans-serif;

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
      font-family: $font-didact-gothic, sans-serif;
    }
  }

  &[data-font="3"] {
    font-family: $font-crimson-text, serif;

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
      font-family: $font-fjalla-one, sans-serif;
    }
  }

  &[data-font="4"] {
    font-family: $font-open-sans, sans-serif;

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
      font-family: $font-dancing-script, cursive;
    }
  }

  &[data-font="5"] {
    font-family: $font-libre-baskerville, serif;

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
      font-family: $font-open-sans, sans-serif;
    }
  }

  &[data-font="6"] {
    font-family: $font-muli, sans-serif;

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
      font-family: $font-ovo, serif;
    }
  }
}

h1, .h1 {
  // font-family: $font-serif;
  font-size: rem-calc(45px);
  font-weight: 600;
  // color: $color-teal-dark;

  // .home & {
  //   font-size: rem-calc(65px);
  //
  //   // Flexible sizing on medium
  //   $i: 0;
  //
  //   @while $i <= $intervals {
  //     @media only screen and (min-width: 670 + ($i * $interval-size)) {
  //       font-size: 2.5rem * (1 + (0.02 * $i));
  //     }
  //     $i: $i + 1;
  //   }
  //
  //   @media #{$small-and-down} {
  //     font-size: rem-calc(55px);
  //     text-align: center;
  //   }
  //   @media #{$xsmall-and-down} {
  //     font-size: rem-calc(40px);
  //
  //     html[data-text-size="large"] & {
  //       font-size: rem-calc(40px);
  //     }
  //
  //     html[data-text-size="medium"] & {
  //       font-size: rem-calc(36px);
  //     }
  //   }
  // }
}

h2, .h2 {
  // font-family: $font-serif;
  font-size: rem-calc(36px);
  font-weight: 600;
  // color: $color-purple;

  .home & {
    font-size: rem-calc(40px);

    &[id="news-title"] {
      word-wrap: break-word;
      hyphens: auto;
    }

    @media #{$medium-and-down} {
      font-size: rem-calc(36px);
    }
    @media #{$xsmall-and-down} {
      html[data-text-size="large"] & {
        font-size: rem-calc(30px);
      }
    }
  }
}

h3, .h3 {
  // font-family: $font-serif;
  font-size: rem-calc(24px);
  font-weight: 600;
  // color: $color-teal-dark;
  letter-spacing: 1px;

  &.entry-title {
    // font-family: $font-sans;
    font-weight: bold;
  }
}

h4, .h4 {
  // font-family: $font-sans;
  font-size: rem-calc(24px);
  // color: $color-purple;
}

a {
  text-decoration: underline;
  font-weight: bold;
  transition: all 0.3s;

  &:hover, &:active {
    text-decoration-style: double;
    // color: $color-green;

    html[data-contrast="true"] & {
      color: $color-white;
    }
  }
}

.main {
  p, li, dt, dd {
    line-height: 1.8em;
  }

  dt {
    font-weight: bold;
    clear: both;
  }

  dd {
    margin-bottom: 1em;
    margin-left: 2em;

    @media #{$xsmall-and-down} {
      margin-left: 1em;
    }
  }

  ul {
    li {
      list-style: none;
      position: relative;
      padding-left: 30px;

      &::before {
        content: '\2022';
        display: block;
        // color: $color-purple;
        position: absolute;
        left: 10px;
        speak: none;

        html[data-contrast="true"] & {
          color: $color-white;
        }
      }
    }
  }
}

blockquote {
  html[data-contrast="true"] & {
    border-color: $color-grey-light;
  }
}

.label {
  // font-family: $font-serif;
  font-weight: 600;
}

strong {
  font-weight: 700;
}
